<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
    <h1>Education</h1>
    <p><strong>Colegio San Rafael</strong> (Feb, 2013 - Dec, 2017)<br>
    - High School Diploma in Humanities<br>
    - San Rafael, Mendoza</p>

    <p><strong>IES-9012</strong> (Jan, 2022 - Dec, 2024)<br>
    - Associate Degree in Software Development<br>
    - San Rafael, Mendoza<br>
    - Python, MySQL, Web Development</p>

    <h1>Courses</h1>
    <p><strong>HTML-CSS</strong> (Feb, 2020 - Nov, 2020)<br>
    - Institution: ACAMICA</p>

    <p><strong>JAVASCRIPT</strong> (Mar, 2021 - Jun, 2021)<br>
    - Institution: CODERHOUSE</p>

    <p><strong>Microsoft Azure Fundamentals Certification</strong> (Feb, 2023 - Apr, 2023)<br>
    - Institution: Mendoza Activa</p>

    <h1>Languages</h1>
    <p><strong>English:</strong><br>
    - Speaking: Fluent<br>
    - Writing: Fluent (C1 ETS Certificate)</p>

    <h1>Professional Experience</h1>
    <p><strong>Solaike S. A</strong><br>
    <em>Salesperson-Delivery Person</em> (Mar, 2018 - Dec, 2021)<br>
    - In charge of visiting the customer portfolio every week.<br>
    - Responsible for delivering products to customers.<br>
    - Searching for new clients.</p>

    <p><strong>Olimpo Web Design</strong><br>
    <em>Sales Developer</em> (Jan, 2022 - May, 2023)<br>
    - Responsible for selling websites and web applications.<br>
    - Contact with clients throughout Latin America.<br>
    - Utilized agile methodologies such as Scrum.</p>

    <h1>Additional Information</h1>
    <p>I have a notebook capable of performing complex tasks.</p>
</body>
</html>
